.pokemon-detail{
  width: 75%;
  min-height: 100vh;
  padding: 25px;
  margin: auto;
  background-color: orange;
}
.abilities-container{
    display: flex;
    align-items: center;

  }
  .abilities-container h2{
    margin-right: 20px;
  }
  .abilities{
  }

  .abilities h3{
margin-right: 15px;
  }
