.App {
  text-align: center;
  background-color: #282c34;
  box-sizing: border-box;
}
.list-of-pokemon-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-of-pokemon{
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
}

.pokemon-card{
  width: 250px;
  height: 110px;
  margin: 20px;
  display: flex;
  border: solid black 4px;
  border-radius: 10px;
  background-color: rgb(252, 245, 237);
}
.pokemon-card a{
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  display: inline-block;
  text-decoration: none;
  color: black;
}
.pokemon-card-data{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.pokemon-card button span{
  font-weight: 700;
 }
 .pokemon-card button img{
  padding: 5px 0px;
 }
 .pokemon-card .id-container{
    position: absolute;
    bottom: 0px; left: 0px;
    padding: 5px;
 }
 .pokemon-card .name-container{
    padding-right: 5px;
 }
