
.App {
  text-align: center;
  box-sizing: border-box;
  min-height: 100vh;
}
.pokedex{
  min-height: 100vh;
  width: 90%;
  background-color: orange;
  margin: auto;
}

.loader-container{
  margin-top: 50px;
}



/*#region pokemonCard #*/
.pokemon-card{
  position: relative;
  min-width: 320px;
  max-width: 350px;
  height: 170px;
  margin: 20px;
  display: flex;
  border-radius: 10px;
  border: 4px solid black;

}

.pokemon-card:hover{
  border: 4px solid white
}
.pokemon-card a{
  border: 0px;
  width: 100%;
  height: 100%;
  position: absoluite;
  cursor: pointer;
  background: none;
  border: none;
  display: inline-block;
  text-decoration: none;
  color: white;
}
.pokemon-card-data{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.pokemon-card button span{
  font-weight: 700;
 }
 .pokemon-card img{
  pointer-events: none;
  width: 150px;
 }
 .pokemon-card .id-container{
    position: absolute;
    bottom: 0px; left: 0px;
    color: black;
    padding: 5px;
    pointer-events: none;

 }
 .pokemon-card .name-container{
    padding-right: 5px;
    min-width: 120px;
    pointer-events: none;
 }

 /*#endregion pokemonCard #*/


@media (max-width: 1000px){
  .pokedex{
    width: 90%;
  }
  .external-container{
    width: 95%
  }
  .searched-card-input-container{
    width: 95%;
  }
}
@media (max-width: 500px){
  .pokedex{
    width: 100%;
  }

}
 

